h1{
  padding-left: 1rem;
  margin-top: 2rem;
  background-color: white;
  height: 3.3rem;
}
#actorName{
  display: inline-block;
  font-style: italic;
  margin:0.5rem;
}
span{
  margin-left: 1rem;
  font-size: 1.3rem;
  color: white;
  background-color: black;
}
body{
  background-image: linear-gradient(to left, #f7c642, #f26d7f);
}
#text{
  background-color: lightgrey;
}
.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
